.chat_window {
  /* grid-layout */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  row-gap: 4vh;

  height: 100%;
}

.messages_panel {
  grid-row: 1;
  grid-column: 1 / 2;
};

.new_message_form {
  grid-row: 2;
  grid-column: 2 / 3;
}
