.messages_panel {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  overflow: hidden;
  position: relative;
}

.messages_container {
  overflow: scroll;
  height: 100%;
}

.messages_list {
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}

.messages_list li {
  margin: 0 0 0.5rem 0;
}

.space_under_messages {
  height: 100%;
}